<div class="sensor-card card text-white">

  <!-- Card content -->
  <div class="card-body card-body-cascad pt-0">

    <div class="view view-cascade narrower">
      <!-- Title -->
      <div class="card-header-title sensor-title text-center">
        <div class="fa">
          <!--<span class="fa-lightbulb ml-2 fa-5x"></span>-->
          <i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
        </div>
      </div>
      <!-- Subtitle -->
      <!--<h5 class="mb-0 pb-3 pt-2">Follow me</h5>-->
    </div>
  </div>
  <div class="card-footer text-black-50 space-between">
  {{sensorLabel}}
    <div class="custom-control my-switch custom-switch">
         <input *ngIf="connected === 'enabled'" type="checkbox" class="custom-control-input" (click)="sendMessage()" id="{{sensorName + picAddress}}">
         <input *ngIf="connected === 'disabled'" type="checkbox" class="custom-control-input" (click)="sendMessage()" id="{{sensorName + picAddress}}" disabled>
      <label class="custom-control-label" for="{{sensorName + picAddress}}"></label>
    </div>
  </div>
</div>
