<!--<div class="sensor-card card text-white mt-5 mb-5">-->

  <!--<div class="view view-cascade narrower">-->
    <!--&lt;!&ndash; Title &ndash;&gt;-->
    <!--<div class="card-header-title sensor-title text-center">-->
      <!--<div class="fas">-->
        <!--<i class="fas fa-door-open"></i>-->
        <!--<link rel="icon" type="image/png" href="https://image.flaticon.com/icons/svg/59/59805.svg">-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Subtitle &ndash;&gt;-->
    <!--&lt;!&ndash;<h5 class="mb-0 pb-3 pt-2">Follow me</h5>&ndash;&gt;-->
  <!--</div>-->

  <!--&lt;!&ndash; Card content &ndash;&gt;-->
  <!--<div class="card-body card-body-cascade mt-4">-->
        <!--<span class="far">-->
          <!--<span class="fa fa-circle ml-2 mr-2 lightStat" title="{{status}}"></span>-->
        <!--</span>-->
  <!--</div>-->
  <!--&lt;!&ndash; Card footer &ndash;&gt;-->
  <!--<div class="card-footer text-black-50">-->
    <!--<a class="sensor-details off" (click)="sendMessage('off')">-->
      <!--<div class="text-center">-->
        <!--CLOSE-->
        <!--<span class="fa">-->
          <!--<span class="fa-power-off ml-1 mr-2"></span>-->
    <!--</span>-->
      <!--</div>-->
    <!--</a>-->
    <!--<a class="sensor-details on" (click)="sendMessage('on')">-->
      <!--<div class="text-center">-->
        <!--OPEN-->
        <!--<span class="fa">-->
          <!--<span class="fa-power-off ml-1 mr-2"></span>-->
    <!--</span>-->
      <!--</div>-->
    <!--</a>-->
  <!--</div>-->
<!--</div>-->
<div class="sensor-card card text-white">

  <!-- Card content -->
  <div class="card-body card-body-cascad pt-0">

    <div class="view view-cascade narrower">
      <!-- Title -->
      <div class="card-header-title sensor-title text-center">
        <div class="fa">
          <span class="fa fa-lock fa-5x"></span>
          <!--<span *ngIf="doorStatus" class="fas fa-lock fa-5x"></span>-->
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-black-50 space-between">
    {{sensorLabel}}
    <div class="custom-control my-switch custom-switch">
      <input *ngIf="connected === 'enabled'" type="checkbox" class="custom-control-input" (click)="sendMessage()" id="{{sensorName + picAddress}}">
      <input *ngIf="connected === 'disabled'" type="checkbox" class="custom-control-input" (click)="sendMessage()" id="{{sensorName + picAddress}}" disabled>
      <label class="custom-control-label" for="{{sensorName + picAddress}}"></label>
    </div>
  </div>
</div>

