<div class="sensor-card add-box card text-white">
  <!-- Card content -->
  <div class="card-body card-body-cascad pt-0">
    <div class="view view-cascade narrower add-box">
      <div class="card-header-title sensor-title text-center">
        <app-add-sensor  [deviceId]="deviceId" [pic]="pic" [sensorsLenght]="sensorsLenght"></app-add-sensor>
      </div>
    </div>
  </div>

  <div style="border: 0" class="card-footer add-box text-white space-between">
    <div class="custom-control my-switch custom-switch">
    </div>
  </div>
</div>
