<app-navigation></app-navigation>
  <main [ngClass]="{'py-0 px-0 my-0 mx-0': specialPage}"  class="mx-lg-5" >

    <!--breadcrumb-->
    <nav aria-label="breadcrumb" class="mt-4">
    <ol class="breadcrumb blue-grey darken-2">
      <li class="breadcrumb-item"><a class="white-text" routerLink="" routerLinkActive="active">Home</a>
        <span class=" ml-2 fa text-white">
          <span class="fa-home"></span>
        </span>
      </li>
      <li class="breadcrumb-item">
      </li>
    </ol>
  </nav>
  <!--/breadcrumb-->

  <div class="mt-5">
    <router-outlet></router-outlet>
    <!--<app-unity></app-unity>-->
  </div>
</main>

<app-footer></app-footer>
