<div class="raspi-card card card-cascade special-color-dark text-white mb-5">

  <div class="view view-cascade narrower" [routerLink]="['details', raspiName]" routerLinkActive="active">
    <div class="card-header-title raspi-title text-center text-white">
      <div class="fa right mr-2">
        <span class="fa-circle ml-2 {{raspiStatus}}" title="{{raspiStatus}}"></span>
      </div>
        {{raspiName}}
      <span class="fa">
          <span class="fa-angle-double-right ml-2 mr-2"></span>
    </span>
    </div>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade mt-4">
    <ul type="none">
      <div style="font-size: 15px" class="text-white" *ngIf="pics === undefined">
        Nessun Pic Connnesso
      </div>
      <li *ngFor="let pic of picsArray" class="m-2">
        <app-pic [pic]="pic" [deviceId]="raspiName" [picAddress]="pic.address"></app-pic>
      </li>
    </ul>
    <span class="fa">
          <span class="fa-list ml-2 mr-2 ra-list"></span>
    </span>
  </div>
</div>
