/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";

body {
  background: #37474F;
  //color: #fff;
}
.enabled {
  color: #49b675;
}

.disabled {
  color: #da4252;
}
.default-status {
  color: #a2a2a2;
}
.on {
  float: right;
}
.off {
  float: left;
}
.on .fa{
  color: #49b675;
}

.off .fa {
  color: #da4252;
}
