.fa-cont {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 10px;
  height: 100%;
  width: 100%;
}
.add-icon {
  display: block;
  margin: auto auto;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
}
.add-icon:hover {
  text-shadow: 0 0 10px #656565;
}
.narrower {
  transition: width 0.2s linear, box-shadow 0.2s linear, background 0.2s linear;
  width: 80%;
  height: 100%;
  margin: -20px auto;
  border-radius: 5px;
  box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.2);
}
//.narrower:hover {
//  transition: width 0.2s linear, box-shadow 0.2s linear, background 0.2s linear;
//  width: 81%;
//  cursor: pointer;
//  box-shadow: 0 1px 5px 3px rgba(240, 240, 240, 0.1);
//}
.raspi-title {
  padding: 10px;
  color: #000000;
}
.add-raspo {
  border: dashed 1px black;
  background-color: #303c44;
}
